:root{
    --block-colors: rgb(241, 241, 241);;
}

.container{
    display: grid;
    /* grid-template-rows: 1fr 100px 1fr; */
    row-gap: 10px;
    column-gap: 10px;
}
.stream{
    background-color: var(--block-colors);
    border-radius: 25px;
    display: grid;
    box-shadow: 
    0 20px 25px -5px rgba(0, 0, 0, .10),
    0 10px 10px -5px rgba(0, 0, 0, .04);
}
.selection{
    background-color: var(--block-colors);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 
    0 20px 25px -5px rgba(0, 0, 0, .10),
    0 10px 10px -5px rgba(0, 0, 0, .04);
}
.choose{
    margin: 25px;
    border: none;
    border-bottom: 5px solid black;
    background-color: inherit;
}

.choose.new{
    height: 50px;
}

.assignment{
    margin: 25px;
    padding: 25px;
    border: none;
    /* border: 5px solid black; */
    background-color: #d1d1d1;
    border-radius: 25px;
    box-shadow: 
    0 20px 25px -5px rgba(0, 0, 0, .10),
    0 10px 10px -5px rgba(0, 0, 0, .04);
}

@media (min-width: 770px){
    .top-box{
        display: grid;
        height: 220px;
        border-radius: 25px;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--block-colors);
        box-shadow: 
        0 20px 25px -5px rgba(0, 0, 0, .10),
        0 10px 10px -5px rgba(0, 0, 0, .04);
    }
    .classimg{
        background-color: white;
        width: 200px !important;
        height: 200px !important;
        border-radius: 5px;
    }
    .content{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
@media (max-width: 770px){
    .top-box{
        display: grid;
        width: auto;
        height: auto;
        border-radius: 25px;
        align-items: center;
        justify-items: center;
        grid-template-rows: 1fr 1fr;
        background-color: var(--block-colors);
        box-shadow: 
        0 20px 25px -5px rgba(0, 0, 0, .10),
        0 10px 10px -5px rgba(0, 0, 0, .04);
    }
    .classimg{
        background-color: white;
        width: 80% !important;
        height: 80% !important;
        border-radius: 5px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .content{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}