{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
<style>
    .card{
        border: 10px solid black;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        transform: scale(0.70);
    }
    .card-img-top{
        padding: 5px;
    }
    .card:hover{
        transform: scale(0.75);
        transition: all 0.5s ease-in-out;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Classroom</h1>
            <a href="/auth/google"><button class="btn btn-success"><img src="https://img.icons8.com/fluency/32/000000/google-logo.png"/> Continue with Google</button></a>
        </div>
    </div>
    <script>
        function teacher(){
            window.location.href = "{{ url_for('login') }}";
        }
    </script>
{% endblock content %}