{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
<style>
    .card{
        border: 10px solid black;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;
        transform: scale(0.70);
    }
    .card-img-top{
        padding: 5px;
    }
    .card:hover{
        transform: scale(0.75);
        transition: all 0.5s ease-in-out;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
    <div class="container mt-5">
        <div class="text-center">
            <h1>Classroom</h1>
            <div class="row row-cols-1 row-cols-md-2 g-2 cards mt-5">
                <div class="card mx-1" style="width: 18rem;" onclick="teacher()">
                    <img src="https://cdn-icons-png.flaticon.com/512/243/243278.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="card-title"><b>Teacher</b></h2>
                    </div>
                  </div>
                  <div class="card mx-1" style="width: 18rem;">
                      <img src="https://cdn-icons-png.flaticon.com/512/535/535623.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h2 class="card-title"><b>Student</b></h2>
                      </div>
                    </div>
            </div>
        </div>
    </div>
    <script>
        function teacher(){
            window.location.href = "{{ url_for('teacher') }}";
        }
    </script>
{% endblock content %}