{% extends 'base.html' %}
{% block title %}
    {{class_['name']}}
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="/static/css/class.css">
<div class="container mt-5 mb-5">
    <div class="top-box">
        <img src="https://api.dicebear.com/9.x/shapes/svg?seed={{class_['_id']}}" alt="" class="classimg">
        <div class="content text-center">
            <h1>{{class_['name']}}</h1>
            <h5>{{class_['description']}}</h5>
            {% if user['_id'] == class_['by'] %}
                <h4>Code: {{class_['code']}}</h4>           
            {% endif %}
        </div>
    </div>
    <div class="selection">
        <button class="choose" onclick="window.location.href = `/class/{{class_['_id']}}/assignments`">Assignments</button>
        <button class="choose" onclick="window.location.href = `/class/{{class_['_id']}}/resources`">Resources</button>
    </div>
    <div class="stream">
        {% if user['_id'] == class_['by'] %}
            <button class="choose new" id="new">New</button>            
        {% endif %}
        {% for resource in resources %}
            <div class="assignment" onclick="window.location.href = `/class/{{class_['_id']}}/resources/resource/{{resource['_id']}}`">
                <h3>{{resource['name']}}</h3>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.new').click(function(){
            window.location.href = "/class/{{class_['_id']}}/resources/new";
        });
    });
</script>
{% endblock content %}