{% extends 'base.html' %}
{% block title %}
    {{class_['name']}}
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="/static/css/class.css">
<div class="container mt-5 mb-5">
    <div class="top-box">
        <img src="{{class_['image']}}" alt="" class="classimg">
        <div class="content text-center">
            <h1>{{class_['name']}}</h1>
            <h5>{{class_['description']}}</h5>
            <h4>Code: {{class_['code']}}</h4>
        </div>
    </div>
    <div class="selection">
        <button class="choose">Assignments</button>
        <button class="choose">Resources</button>
    </div>
    <div class="stream">

    </div>
</div>
{% endblock content %}